<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <a href="https://facebook.com" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://instagram.com" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://twitter.com" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <p>Contact us: <a href="mailto:Sandeshstone13@example.com">Sandeshstone13@gmail.com</a></p>
    </div>
  </footer>
  